// .division-card {
//   position: relative;
//   display: inline-block;
//   width: 100vw;
//   height: 85vw;
//   margin-bottom: 0.5rem;
//   cursor: pointer;
// }
.division-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  transition: opacity 0s ease-in-out;
  user-select: none;
}

.video-container {
  max-width: 75vw;
}
.division-card:hover .division-overlay {
  opacity: 1;
}
.division-card,
.division-card img .division-overlay {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.division-overlay-text {
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  letter-spacing: 1rem;
  padding: 5rem;
  text-transform: uppercase;
}

.division-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 479px) {
  .division-card {
    position: relative;
    display: inline-block;
    width: 100vw;
    height: 85vw;
    margin-bottom: 0.5rem;
    padding: 0rem;
    cursor: pointer;
  }
  .division-overlay {
    opacity: 1;
  }
  .division-overlay-text {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    letter-spacing: 0.5rem;
    padding: 0rem;
    text-transform: uppercase;
  }
  .video-container {
    max-width: 100%;
  }
}

@media (min-width: 480px) {
  .division-card {
    position: relative;
    display: block;
    width: 100%;
    height: 75vw;
    margin-bottom: 0.5rem;
    padding: 0rem;
    cursor: pointer;
  }
  .division-overlay {
    display: none;
  }
  .video-container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .division-card {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 55vw;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  .division-overlay {
    display: none;
  }
  .video-container {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .division-card {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50vh;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  .division-overlay {
    display: flex;
  }
  .video-container {
    max-width: 75vw;
  }
}
@media (min-width: 1440px) {
  .division-card {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50vh;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  .division-overlay {
    display: flex;
  }
  .video-container {
    max-width: 75vw;
  }
}
