.landing-btn {
  padding: 0.5rem 1rem;
  width: fit-content;
  border: 2px solid white;
  cursor: pointer;
  background-color: #252628;
  color: white;
  transition: all 0.2s ease-in;
}
.landing-btn:hover {
  color: #252628;
  background-color: white;
}
.landing-carousel {
  display: block;
  width: 50vw;
  height: 100vh;
}
.landing-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: space-between;
}
.carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.carousel div {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.landing-wrapper {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
}

@media (max-width: 479px) {
  .landing-carousel {
    display: block;
  }
  .landing-headline {
    width: 100%;
  }
  .landing-carousel {
    display: block;
    width: 100vw;
    height: 50vh;
  }
  .carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .carousel div {
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .landing-wrapper {
    width: 100%;
    height: 100%;
    background-color: #252628;
    color: white;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 480px) {
  .landing-carousel {
    display: block;
  }
  .landing-headline {
    width: 100%;
  }
  .landing-carousel {
    display: block;
    width: 100vw;
    height: 50vh;
  }
  .carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .carousel div {
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .landing-wrapper {
    width: 100%;
    height: 100%;
    background-color: #252628;
    color: white;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .landing-carousel {
    display: block;
  }
  .landing-headline {
    width: 100%;
  }
  .landing-carousel {
    display: block;
    width: 100vw;
    height: 50vh;
  }
  .carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .carousel div {
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .landing-wrapper {
    width: 100%;
    height: 100%;
    background-color: #252628;
    color: white;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .landing-carousel {
    display: block;
  }
  .landing-headline {
    width: 100%;
  }
  .landing-carousel {
    display: block;
    width: 50vw;
    height: 100vh;
  }
  .carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .carousel div {
    width: 50vw;
    height: 100vh;
    overflow: hidden;
  }
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .landing-wrapper {
    width: 100%;
    height: 100%;
    background-color: #252628;
    color: white;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .landing-wrapper {
    width: 100%;
    height: 100%;
    background-color: #252628;
    color: white;
    display: flex;
    flex-direction: row;
  }
}
